<br>
<h2 class="text-center">Dashboard</h2>
<br>
<div class="container">
    <div class="row">
        <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Customers</h5>
                    <h6 class="card-subtitle mb-2 text-muted">3450</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
            <div class="card shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Products Sold</h5>
                    <h6 class="card-subtitle mb-2 text-muted">8450</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Customers</h5>
                    <h6 class="card-subtitle mb-2 text-muted">3450</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>