   <div class="main">
        <div class="box col-xl-4 col-lg-4 col-md-4 col-sm-8 col-12">
        <h2>
            Login
        </h2>
        <form [formGroup]="myForm" (ngSubmit)="login()">
            <div class="inputBox">
               <input type="text" required formControlName="email">
                <label>Email</label>
            </div>
            <div class="inputBox">
                <input  type="password" required formControlName="password">
                <label>password</label>
                <div *ngIf="incorrectPassErr" class="alert alert-danger">
                    Email Id or Password is incorrect
                </div>
            </div>
            <input class="shadow" type="submit" value="submit">
        </form>
        <a href="#" routerLink="/register" class="login">New User? Register now</a>
        <br>
        <a href="#" routerLink="/register"  class="login text-danger" >Forgot password</a>
    </div>
</div>