<div class="footer row">
		<div class="location col-3">
			<br>
			<h5>POPULAR LOCATIONS</h5>
			<ul>
				<li>Mathura</li>
				<li>Agra</li>
				<li>Delhi</li>
				<li>Noida</li>
			</ul>
			
		</div>
		<div class="about-us col-2">
			<br>
			<h5>ABOUT US</h5>
			<ul>
				<li>About BUYME Group</li>
				<li>Careers</li>
				<li>Contact Us</li>
			</ul>
		</div>
		<div class="buyme col-3">
			<br>
			<h5>BUYME</h5>
			<ul>
				<li>Help</li>
				<li>Sitemap</li>
				<li>Legacy & Privacy information</li>
			</ul>
		</div>
		<div class="follow-us col-2">
			<br>
			<h5>FOLLOW US</h5>
			<ul>
			<li><i style="color:#d5583f;"  class="fa fa-instagram" aria-hidden="true"></i></li>
			<li><i style="color:#4267b2;" class="fa fa-facebook" aria-hidden="true"></i></li>
			<li><i style="color:#1da1f2;" class="fa fa-twitter" aria-hidden="true"></i></li>
			</ul>
		</div>
	
</div>
<div class="last col-12" >
	<ul>
		<li class="country">
			Designed  By <span style="font-weight: bold; font-size: 16px;">  Manish Chahar</span>
		</li>
		<li class="copyright">
			<span style="font-weight: bold;">Free Classified in India.</span>	&#169; 2015-2019 BUYME
		</li>
	</ul>
</div>